<section>

  <div class="container my-3">
    <div class="d-flex justify-content-end mb-2">
      <%= link_to 'Add Ingredient', new_restaurant_ingredient_path(@restaurant), class: "btn orange-button" %>
    </div>

    <div class="row">
      <% @ingredients.each do |ingredient| %>
        <div class="col-12 col-md-6 col-sm-12 col-lg-3 my-2">
          <div class="card rounded h-100 d-flex d-column">
            <div class="d-flex justify-content-between p-3">
              <div id="<%= ingredient.id %>" >
                <p class="text-bold">Ingredient name: <%= ingredient.name %></p>
                <p class="text-bold">Unit: <%= ingredient.unit %></p>
                <p class="text-bold">Increment: <%= ingredient.change_increment %></p>
                <p class="text-bold">Cost: <%= ingredient.cost %></p>
                <p class="text-bold">Price: <%= ingredient.price %></p>
                <p class="text-bold">Stock: <%= ingredient.stock_quantity %></p>
              </div>
            </div>
            <div class="card-footer text-muted mt-auto">
              <%= link_to 'Edit', edit_restaurant_ingredient_path(@restaurant, ingredient), class: "btn btn-secondary" %>
              <%= link_to 'Delete', restaurant_ingredient_path(@restaurant, ingredient), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-secondary ml-1" %>
            </div>
          </div>
        </div>
      <% end %>
      </div>
      <%= link_to "Back to #{@restaurant.name} Restaurant", restaurant_path(@restaurant), class: "btn purple-button mt-2" %>
    </div>
  </div>

</section>


