<div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1516824711718-9c1e683412ac?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1051&q=80);">
  <%= image_tag("lemon.png", { alt: "fruits", class: 'fruit' }) %>

  <h1><span id="banner-typed-text"></span></h1>
 <!--  <h3>Do you want to customize your own meal with your own preferences?</h3> -->
  <p><em>"You are in the right place, pick your ingredients and <strong> custom your own meal"</strong></em></p>
  <%= form_tag restaurants_path, method: :get do %>
  <%= text_field_tag :query,
  params[:query],
  class: "form-control user_address",
   placeholder: "Enter your address" %>

   <%= submit_tag "Search", class: "btn btn-info" %>
   <% end %>
 </div>
</div>

<div class="container">
    <div class="content text-center">
      <h4>At pick eat, we have everything to our picky eater</h4>
      <p>Bring you creativity to your plate, build delicious meal, it save your time as well as the restaurants and helps prevent food waste</p>
      <p>FAST</p>
      <p>CREATIVE</p>
      <p>ECO-FRIENDLY</p>
    </div>
  </div>
</div>




<!-- <div id="user_address"></div> -->
<%= content_for(:navbar_class, "navbar-home") %>

<!-- #<%= link_to "Start now", new_user_session_path, class: "btn btn-lg btn-info"  %> -->


