<div class="container my-3">
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="card shadow-sm p-3 mb-5 bg-body rounded d-flex justify-content-end align-items-center">
        <h1><%= @restaurant.name %></h1>
        <h5>Address: <%= @restaurant.address %></h5>
        <h5>Phone_number: <%= @restaurant.phone_number %></h5>
        <h5>Cuisine: <%= @restaurant.cuisine %></h5>

        <% if @restaurant.photo.attached? %>
          <%= cl_image_tag @restaurant.photo.key, height: 100, crop: :fill %>
        <% else %>
          <%= image_tag 'https://images.unsplash.com/photo-1533777857889-4be7c70b33f7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80', height: 250, crop: :fill %>
        <% end %>

        <% if @restaurant.user == current_user %>
          <div class="d-flex justify-content-end align-items-center">
            <div class=container>
              <%= link_to 'Edit Restaurant', edit_restaurant_path(@restaurant)%>
            </div>
            <div class=container>
              <%= link_to 'Delete Restaurant', restaurant_path(@restaurant), method: :delete, data: { confirm: 'Are you sure?' }%>

            </div>

            <div class=container>
               <%= link_to 'Restaurant Ingredients', restaurant_ingredients_path(@restaurant)%>

            </div>

            <div class=container>
              <%= link_to 'Add Ingredients', new_restaurant_ingredient_path(@restaurant) %>

            </div>
          </div>
        <% end %>
      </div>

      <div class="card shadow-sm p-3 mb-5 bg-body rounded">
        <div class="d-flex justify-content-center align-items-center">
        <h3 class="m-4">Menu</h3>
        </div>
        <div class="d-flex justify-content-center align-items-center">
        <% if @restaurant.user == current_user %>
          <%= link_to 'Add a dish to the menu', new_restaurant_dish_path(@restaurant)%>
        <% end %>
        </div>
        <% @dishes.each do |dish| %>
          <div class="card shadow-sm p-3 mb-5 bg-body rounded">
            <div>
              <h4><%= dish.name %></h4>
            </div>

          <% if @restaurant.user != current_user %>
            <div>
            </div>
          <% else %>
          <div class="d-flex justify-content-end align-items-center">
              <div class=container>
                <%= link_to "Customize the Dish", order_items_path(@dish, format: "#{dish.id}"), method: :post %>
              </div>

              <div class=container>
                <%= link_to "Edit the Dish", edit_dish_path(dish), method: :get%>
              </div>

              <div class=container>
                <%= link_to "Delete the Dish", dish_path(dish), method: :delete, data:{confirm: 'Are you sure?'} %>
              </div>
            </div>
          <% end %>

          <div class="container p-3">
            <ul>
              <% dish.dish_ingredients.each do |dish_ingredient| %>
                <li><%= dish_ingredient.ingredient.name %> - <%=  dish_ingredient.base_quantity %> <%= dish_ingredient.ingredient.unit %></li>

              <% end %>
            </ul>
          </div>

          </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= link_to "Back to all restaurants", restaurants_path %>
  <%= link_to "My Restaurants", my_restaurants_path%>
</div>
