<div class="container my-3">
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="card shadow-sm p-3 mb-5 bg-body rounded d-flex justify-content-end align-items-center">
        <h1><%= @restaurant.name %></h1>
        <h5>Address: <%= @restaurant.address %></h5>
        <h5>Phone_number: <%= @restaurant.phone_number %></h5>
        <h5>Cuisine: <%= @restaurant.cuisine %></h5>
        <h5>Picture: <%= cl_image_tag @restaurant.photo.key, height: 300, width: 400, crop: :fill %></h5>

 <% if @restaurant.user == current_user %>
          <div class="d-flex justify-content-end align-items-center">
            <%= link_to 'Edit', edit_restaurant_path(@restaurant), class: "btn btn-warning mr-3" %>
            <%= link_to 'Add Ingredients for Restaurant', new_restaurant_ingredient_path(@restaurant), class: "btn btn-warning mr-3" %>
            <%= link_to 'Delete', restaurant_path(@restaurant), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          </div>
          <% end %>
      </div>

      <div class="card shadow-sm p-3 mb-5 bg-body rounded">
        <h3 class="m-4">Menu</h3>
        <% if @restaurant.user == current_user %>
          <%= link_to 'Add a dish to the menu', new_restaurant_dish_path(@restaurant), class: "btn btn-primary" %>
        <% end %>
        <% @dishes.each do |dish| %>
          <div class="card shadow-sm p-3 mb-5 bg-body rounded">
            <div>
              <h4><%= dish.name %></h4>
            </div>

          <% if @restaurant.user != current_user %>
            <div>
            <%= link_to "Customize the Dish", order_items_path(@dish), method: :post, class: "btn btn-primary" %>
            </div>
           <% else %>
            <%= link_to "Edit the Dish", edit_dish_path(dish), method: :get, class: "btn btn-primary" %>
            <%= link_to "Delete the Dish", dish_path(dish), method: :delete, data:{confirm: 'Are you sure?'}, class: "btn btn-danger" %>

            <% end %>

            <% dish.dish_ingredients.each do |dish_ingredient| %>
              <p><%= dish_ingredient.ingredient.name %></p>
              <p><%= dish_ingredient.base_quantity %></p>
            <% end %>

          </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= link_to "Back to all restaurants", restaurants_path, class: "btn btn-primary" %>
  <%= link_to "My Restaurants", my_restaurants_path, class: "btn btn-primary" %>

</div>




