<div class="container my-3">
  <div class="row">
    <div class="col-10">
      <ul class="list-group list-group-flush">

        <h1><%= @order_item.dish.name %></h1>

        <% @order_item.customized_ingredients.each_with_index do |customized_ingredient, index| %>
          <li id="customized_ingredient-<%= customized_ingredient.id %>" class="list-group-item">
            <h4><%= customized_ingredient.dish_ingredient.ingredient.name %></h4>
            <div class="d-flex justify-content-between">
              <div>
                <%= customized_ingredient.dish_ingredient.ingredient.change_increment %>
                <%= customized_ingredient.dish_ingredient.ingredient.unit %>

                (AED <%= customized_ingredient.dish_ingredient.ingredient.price %>)

                (min) <%= customized_ingredient.dish_ingredient.min_quantity %>
                <%= link_to "↓", customized_ingredient_decrease_amount_path(customized_ingredient), method: :patch, remote: true, class: "btn btn-primary" %>

                <%= customized_ingredient.quantity%>

                <%= link_to "↑", customized_ingredient_increase_amount_path(customized_ingredient), method: :patch, remote: true, class: "btn btn-primary" %>
                <%= customized_ingredient.dish_ingredient.max_quantity %> (max)
              </div>

              <div>
                AED <%= @ingredient_price = (customized_ingredient.quantity/customized_ingredient.dish_ingredient.ingredient.change_increment) * customized_ingredient.dish_ingredient.ingredient.price %>
              </div>
            </div>
          </li>
        <% end %>

      </ul>
      <%= link_to "back", order_item_path(@order_item, restaurant_id: "#{@order_item.dish.restaurant.id}"), method: :delete, class: "btn btn-primary" %>
      <%= link_to "Add to order", restaurants_path, class: "btn btn-primary"  %>
    </div>
  </div>
</div>

